* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body style section  */
body {
  background-color: #000000;
  opacity: 0.9;
}
/* outer container style section mobile first  */
.outer-container {
  margin-top: 20px;
  padding: 10px;
  height: 620px;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 10px solid #222222;
  border-top: 10px solid #222222;
}
.internal-wrapper {
  display: block;
  margin: auto;
}
/* left text wrapper css style mobile first  */
.left-text-wrapper {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding: auto;
  margin: auto;
  font-size: 1rem;
  font-weight: 200;
}
/* left txt h1 css style section  */
.left-text-wrapper h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.8%;
  margin-left: 30px;
  text-align: left;
  text-align: center;
}
/* left txt h2 css style section  */
.left-text-wrapper h2 {
  padding: 0.8%;
  margin-left: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-align: center;
}
/* phone image wrapper css style section */
.phone-image-wrapper {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}
.phone-image-wrapper img {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.5;
  height: 100%;
}
/* .downloading-wrapper css style section  */
.downloading-wrapper {
  position: absolute;
  width: 380px;
  height: 100px;
  margin-left: 20%;
  top: 330px;
  border: 2px solid #222222;
  border-radius: 20px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
.book-image-wrapper img {
  width: 51px;
  height: 80px;
  margin: auto;
  padding: auto;
}
.download-sign-wrapper img {
  width: auto;
  height: 80px;
}

.text-wrapper {
  width: 130px;
  height: 80px;
  text-align: center;
  padding-top: 30px;
  color: white;
  /* color: black; */
  margin: auto;
  padding: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.stranger-text-wrapper {
  font-size: 16px;
  font-weight: 400;
}
.download-text-wrapper {
  color: #0071eb;
  font-size: 14px;
  font-weight: 400;
}
/* for biger screan disply css style section  */
@media (min-width: 768px) {
  .outer-container {
    height: 500px;
  }
  .internal-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }
  /* left text wrapper style */
  .left-text-wrapper {
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 20px;
  }
  .left-text-wrapper h1 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.8%;
    margin: 0.8%;
    font-weight: 60;
    opacity: 0.9;
    text-align: left;
  }
  .left-text-wrapper h2 {
    padding: 0.8%;
    margin: 0.8%;
    font-size: 35px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
}
