* {
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
  height: 100vh;
}
body {
  overflow: auto;
  height: 100vh;
}
.backGroundImage {
  background-image: url("../assets/backGroundImage.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-size: contain;
  width: 100vw;
  height: 600px;
  box-shadow: 0px 1px 3px black inset;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}
.nav__black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 20px !important;
  width: 80px !important;
  object-fit: contain !important;
}
.nav__avatar {
  position: fixed;
  right: 150px;
  width: auto;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.button {
  margin-left: 10px;
  width: 100px !important;
  border: none;
  height: 30px;
  background-color: red;
  color: white;
}
.unlimited {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 300px;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  line-height: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.para {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.input-button {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}
input {
  width: 450px;
  height: 50px;
}
.start {
  width: 200px;
  background-color: red;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  border: none;
}
@media only screen and (max-width: 600px) {
  .input-button {
    text-align: center;
    line-height: 20px;
  }
  .input {
    width: 50%;
  }
  .start {
    font-size: 1rem;
    font-weight: 200;
  }
}
